body {
  width: 100%;
  background-color: #F3F3F3;
  margin: auto;
  padding: 0;
  height: auto;
}

.Acc {
  text-decoration-line: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: #D2483D;
  font-weight: bold;
}

header {
  width: 50%;
  display: flex;
  gap: 25px;
  position: relative;
  top: 40px;
  left: 40px;
}

header img {
  position: relative;
  height: 80px;
  width: 80px;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav li {
  list-style: none;
  font-family: "inter", sans-serif;
  font-weight: semi-bold;
}

nav a {
  text-decoration: none;
  color: black;
}

.slog {
  color: #D2483D;
  font-weight: semi-bold;
}

.slogan {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 0.5;
  margin-top: 2rem;
  gap: 80px;
}

.slog_text {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
}

.slog_text h1 {
  font-family: "Bebas Neue", sans-serif;
}

.slog_text p {
  font-family: "inter", sans-serif;
  font-weight: semi-bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: black;
  color: white;
}

.barr {
  text-align: center;
  line-height: 1.5;
}

.barr h2 {
  font-family: "Bebas Neue", sans-serif;
}

.barr p {
  font-family: "inter", sans-serif;
  font-weight: semi-bold;
}

.Address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 2rem;
}

.call_to_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 100%;
  height: 120px;
  background-color: #D2483D;
  text-align: center;
  margin-top: 2rem;
}

.RESEAUX {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 98px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 2rem;
}

.footer {
  display: flex;
  position: relative;
  top: 30px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.footer p {
  position: relative;
  left: 40px;
  font-family: "inter", sans-serif;
  font-weight: semi-bold;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 2px;
  opacity: 0.7;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.icon {
  display: flex;
  color: white;
  gap: 10px;
  position: relative;
  right: 40px;
}